<div class="toolbar">
  <div class="toolbar-content">
    <div class="toolbar-left">
      <h1 class="toolbar-title">CSEDI Alumni Admin</h1>
    </div>
    <div class="toolbar-right">
      @if (user()) {
      <div class="user-menu">
        <span class="user-name">{{ user()?.firstName }} {{ user()?.lastName }}</span>
        <button class="logout-btn" (click)="onLogout()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
            />
          </svg>
          Logout
        </button>
      </div>
      }
    </div>
  </div>
</div>
